
body {
    margin: 0 ;
    background-color: #9B111E ;
    font-family: sans-serif ;
}

canvas {
    display: block;
}
#controls-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    background: rgb(255, 0, 0);
    padding: 15px;
    border-radius: 12px 12px 0 0;
    border: 5px solid rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

#controls-panel h3 {
    margin: 0 0 5px 0;
}
#controls-panel p {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}